---
- hosts: "{{ env }}"
  gather_facts: no
  remote_user: jenkins
  #become: yes
  #become_user: oracle
  #become_method: sudo

  vars_files:
    - ./vault.yml
  #vars:
  #  backup_date: "{{ '%m%d%Y' | strftime }}"

  tasks:

    - name: Run task on the selected server
      ansible.builtin.command: echo "Running on {{ ansible_host }}"
      delegate_to: "{{ ansible_host }}"
      run_once: true

    - name: Print environment and url name
      debug:
        msg: "Running playbook in Environment: {{ env }}, url: {{ app_url }}, workspace: {{ workspace }}, token: {{ token }}"
      run_once: true

    - name: Find files
      find:
        paths: "{{ workspace }}/DirA/"
        patterns: "*.ini"
        file_type: file
      register: ls_result

    - name: Print found files
      debug:
        msg: "{{ ls_result }}"
      run_once: true

    - name: Find files in directory
      ansible.builtin.find:
        paths: "{{ workspace }}/DirA/"
        patterns: "*.ini"
      register: found_files

    - name: Write file names to JSON for Jenkins
      ansible.builtin.copy:
        content: "{{ found_files.files | map(attribute='path') | list | to_nice_json }}"
        dest: "found_files.json"


